.footer {
    padding: 32px 0;
    position: relative;
    background-image: url('../img/footer-background.png');
    background-color: var(--color-primary-dark);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.footer::before,
.footer::after {
    background-repeat: no-repeat;
    position: absolute;
    bottom: 0;
    content: '';
}

.footer::before {
    width: 180px;
    height: 120px;
    left: 0;
    background-image: url(../img/decor-bread-small.png);
}

.footer::after {
    width: 380px;
    height: 190px;
    right: 0;
    background-image: url(../img/decor-bread-large.png);
}

.footer-container {
    display: flex;
    gap: 20px;
}

.footer-nav,
.footer-address {
    display: flex;
    gap: 20px;
    flex-basis: 50%;
}

.footer-logo,
.footer-menu {
    flex-grow: 1;
}

.address-list,
.address-info {
    flex-grow: 1;
}

.address-link {
    color: var(--color-primary-light);
    font-size: 16px;
    font-weight: 300;
    text-decoration: none;
}

.address-link:hover {
    color: var(--color-brand-normal);
    font-size: 16px;
    font-weight: 300;
}

.adress-icon {
    fill: var(--color-primary-light);
}

.adress-icon:hover {
    fill: var(--color-brand-normal);
}

.address-copyright {
    font-size: 14px;
}